<!doctype html>
<html lang="cn" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>智能系统安全防护子系统</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" th:href="@{assets/vendor/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{assets/vendor/font-awesome/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{assets/vendor/linearicons/style.css}">
	<!-- MAIN CSS -->
	<link rel="stylesheet" th:href="@{assets/css/main.css}">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" th:href="@{assets/img/apple-icon.png}">
	<link rel="icon" type="image/png" sizes="96x96" th:href="@{assets/img/favicon.png}">
	<script type="text/javascript" th:src="@{js/jquery-3.3.1.min.js}"></script>
	<script type="text/javascript" th:src="@{js/front-endPage.js}"></script><!-- 前台分页 -->
	<link rel="stylesheet" type="text/css" th:href="@{css/table.css}">
	<link rel="stylesheet" type="text/css" th:href="@{css/init.css}">

</head>

<body>

	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
				<div class="brand" style="
				width: 254px;
				padding-right: 4px;
				padding-left: 4px;
				padding-bottom: 2px;
				padding-top: 6px;
				">
				<a href="/index1.html"><img th:src="@{img/logo-xidian.png}" alt="xidian Logo" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div style="padding-left: 280px;">
					<h1 style="color:#AE0000">智能系统安全防护子系统</h1>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<h3 class="page-title">网络层安防建议</h3>
					<div class="row">
						<div class="col-md-6">
							<!-- BASIC TABLE -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">web服务器</h3>
								</div>
								<div class="panel-body">
									<table class="table">
										<thead>
											<tr>
												<th>#</th>
												<th>漏洞</th>
												<th>威胁类型</th>
												<th>安防建议</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td>CVE-2012-0056</td>
												<td>提权攻击</td>
												<td>设置SMAP和SMEP机制，或引入虚拟机监控器来保证内核控制流的完整性。</td>
											</tr>
											<tr>
												<td>2</td>
												<td>CVE-2011-4130</td>
												<td>未授权访问</td>
												<td>控制接入源ip</td>
											</tr>
	
										</tbody>
									</table>
								</div>
							</div>
							<!-- END BASIC TABLE -->
						</div>
						<div class="col-md-6">
							<!-- BASIC TABLE -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">web服务器</h3>
								</div>
								<div class="panel-body">
									<table class="table">
										<thead>
										<tr>
											<th>#</th>
											<th>漏洞</th>
											<th>威胁类型</th>
											<th>安防建议</th>
										</tr>
										</thead>
										<tbody>
										<tr>
											<td>1</td>
											<td>CVE-2012-0056</td>
											<td>提权攻击</td>
											<td>设置SMAP和SMEP机制，或引入虚拟机监控器来保证内核控制流的完整性。</td>
										</tr>
										<tr>
											<td>2</td>
											<td>CVE-2011-4130</td>
											<td>未授权访问</td>
											<td>控制接入源ip</td>
										</tr>

										</tbody>
									</table>
								</div>
							</div>
							<!-- END BASIC TABLE -->

						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<!-- BASIC TABLE -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">web服务器</h3>
								</div>
								<div class="panel-body">
									<table class="table">
										<thead>
										<tr>
											<th>#</th>
											<th>漏洞</th>
											<th>威胁类型</th>
											<th>安防建议</th>
										</tr>
										</thead>
										<tbody>
										<tr>
											<td>1</td>
											<td>CVE-2012-0056</td>
											<td>提权攻击</td>
											<td>设置SMAP和SMEP机制，或引入虚拟机监控器来保证内核控制流的完整性。</td>
										</tr>
										<tr>
											<td>2</td>
											<td>CVE-2011-4130</td>
											<td>未授权访问</td>
											<td>控制接入源ip</td>
										</tr>

										</tbody>
									</table>
								</div>
							</div>
							<!-- END BASIC TABLE -->
						</div>
						<div class="col-md-6">
							<!-- BASIC TABLE -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">web服务器</h3>
								</div>
								<div class="panel-body">
									<table class="table">
										<thead>
										<tr>
											<th>#</th>
											<th>漏洞</th>
											<th>威胁类型</th>
											<th>安防建议</th>
										</tr>
										</thead>
										<tbody>
										<tr>
											<td>1</td>
											<td>CVE-2012-0056</td>
											<td>提权攻击</td>
											<td>设置SMAP和SMEP机制，或引入虚拟机监控器来保证内核控制流的完整性。</td>
										</tr>
										<tr>
											<td>2</td>
											<td>CVE-2011-4130</td>
											<td>未授权访问</td>
											<td>控制接入源ip</td>
										</tr>

										</tbody>
									</table>
								</div>
							</div>
							<!-- END BASIC TABLE -->
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<!-- BASIC TABLE -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">web服务器</h3>
								</div>
								<div class="panel-body">
									<table class="table">
										<thead>
										<tr>
											<th>#</th>
											<th>漏洞</th>
											<th>威胁类型</th>
											<th>安防建议</th>
										</tr>
										</thead>
										<tbody>
										<tr>
											<td>1</td>
											<td>CVE-2012-0056</td>
											<td>提权攻击</td>
											<td>设置SMAP和SMEP机制，或引入虚拟机监控器来保证内核控制流的完整性。</td>
										</tr>
										<tr>
											<td>2</td>
											<td>CVE-2011-4130</td>
											<td>未授权访问</td>
											<td>控制接入源ip</td>
										</tr>

										</tbody>
									</table>
								</div>
							</div>
							<!-- END BASIC TABLE -->
						</div>
						<div class="col-md-6">
							<!-- BASIC TABLE -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">web服务器</h3>
								</div>
								<div class="panel-body">
									<table class="table">
										<thead>
										<tr>
											<th>#</th>
											<th>漏洞</th>
											<th>威胁类型</th>
											<th>安防建议</th>
										</tr>
										</thead>
										<tbody>
										<tr>
											<td>1</td>
											<td>CVE-2012-0056</td>
											<td>提权攻击</td>
											<td>设置SMAP和SMEP机制，或引入虚拟机监控器来保证内核控制流的完整性。</td>
										</tr>
										<tr>
											<td>2</td>
											<td>CVE-2011-4130</td>
											<td>未授权访问</td>
											<td>控制接入源ip</td>
										</tr>

										</tbody>
									</table>
								</div>
							</div>
							<!-- END BASIC TABLE -->
						</div>
					</div>
				</div>
		<!-- 数据库查询 -->
				<form action="/assessment_search" method="get">
					<div class="container-fluid">
						<label for="condition"></label><input type="text" id="condition" name="condition" class="layui-input" placeholder="请输入要查找的安全问题">
						<input type="submit" value="查询">
					</div>
				</form>
			</div>
			
			<div class="col-md-6">
				<!-- CONDENSED TABLE -->
				<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title">专家知识库查询结果</h3>
					</div>
					<div id="historyBox"></div>
				</div>

				<!-- END CONDENSED TABLE -->
			</div>
			<!-- END MAIN CONTENT -->
		<!-- 数据库查询END -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>

		<footer>
			<div class="container-fluid">
				<p class="copyright">&copy; XDU</p>
			</div>
		</footer>
	</div>

	<!-- END WRAPPER -->
	<!-- Javascript -->
<!--	<script th:src="@{assets/vendor/jquery/jquery.min.js}"></script>-->
	<script th:src="@{assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
	<script th:src="@{assets/scripts/klorofil-common.js}"></script>
</body>

<script th:inline="javascript" type="text/javascript">
	//前台分页的样子
	data = [[${result}]]
		$('#historyBox').CJJTable({
			'title':["#","节点","类型","描述"],//thead中的标题 必填
			'body':["id","node","type","description"],//tbody td 取值的字段 必填
			'display':[1,1,1,1],//隐藏域，1显示，2隐藏 必填
			'pageNUmber':30,//每页显示的条数 选填
			'pageLength':data.length,//选填
			'url':data,//数据源 必填
			dbTrclick:function(e){//双击tr事件
				alert(e.find('.time').html())
			}
		});
</script>

</html>
